<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <div class="card shadow">
        <div class="card-header bg-primary text-white text-center">
          <h2>Create Leave</h2>
        </div>
        <div class="card-body">
          <form (ngSubmit)="onSubmit()">
            <div class="mb-3">
              <label for="employeeName" class="form-label">Employee Name:</label>
              <input
              type="text"
              id="employeeName"
              class="form-control"
              [(ngModel)]="leaveData.employeeName"
              name="employeeName"
              required
              placeholder="Enter employee name"
            />
            </div>
            <div class="mb-3">
              <label for="leaveType" class="form-label">Leave Type:</label>
              <input
                type="text"
                id="leaveType"
                class="form-control"
                [(ngModel)]="leaveData.leaveType"
                name="leaveType"
                required
                placeholder="Enter leave type"
              />
            </div>
            <div class="mb-3">
              <label for="startDate" class="form-label">Start Date:</label>
              <input
                type="date"
                id="startDate"
                class="form-control"
                [(ngModel)]="leaveData.startDate"
                name="startDate"
                required
              />
            </div>
            <div class="mb-3">
              <label for="endDate" class="form-label">End Date:</label>
              <input
                type="date"
                id="endDate"
                class="form-control"
                [(ngModel)]="leaveData.endDate"
                name="endDate"
                required
              />
            </div>
            <div class="d-grid">
              <button type="submit" class="btn btn-success">Create Leave</button>
            </div>
          </form>
          <!-- View Leave List Button -->
          <div class="mt-3 text-center">
            <button class="btn btn-secondary" routerLink="/employee/leavelist">View Leave List</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
