<div class="signup-container">
    <h2>Signup</h2>
    <form [formGroup]="signupForm" (ngSubmit)="onSubmit()">
      
      <div class="form-group">
        <label for="username">User Name</label>
        <input id="username" type="text" formControlName="username" placeholder="Enter your username" required>
      </div>
  
      <div class="form-group">
        <label for="email">Email</label>
        <input id="email" type="email" formControlName="email" placeholder="Enter your email" required>
      </div>
  
      
  
      <div class="form-group">
        <label for="password">Password</label>
        <input id="password" type="password" formControlName="password" placeholder="Enter your password" required>
      </div>

  
      <button type="submit" [disabled]="!signupForm.valid">Signup</button>
    </form>
  </div>
  